
@{
    ViewData["Title"] = "Index";
}

<h1>Dashboard</h1>

@Html.ActionLink("Managers", "Index", "Managers", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })
<br />
@Html.ActionLink("Tenants", "Index", "Tenants", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })
<br />
@Html.ActionLink("Accounts", "Index", "Accounts", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })
<br />
@Html.ActionLink("Employees", "Index", "Employees", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })
<br />
@Html.ActionLink("Cities", "Index", "Cities", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })
<br />
@Html.ActionLink("Apartments", "List", "Apartments", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })
<br />
@Html.ActionLink("Properties", "Index", "Properties", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })
<br />
@Html.ActionLink("Jobs", "Index", "Jobs", new { area = "" }, new { @class = "btn btn-lg btn-rentaspace-full" })