@model property_rental_management.Models.Msg

@{
    var sender = ViewData["sender"] as string;

    var tenantIDList = ViewBag.tenantIDList;
    var adminIDList = ViewBag.adminIDList;
    var managersList = ViewBag.managersList;

}

<h1>Send Message</h1>
<div class="row">
    <div class="col-md-5 rs-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* FILING A REPORT *@ 
            @if (tenantIDList == null && sender == "employeeReport")
            {
                <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                <div class="form-group">
                    <label class="control-label">To: </label>
                    <select class="form-select" asp-for="Receiver" class="form-control" asp-items="@adminIDList" id="optionSelect"></select>
                </div>

            }
            @* FROM TENANT *@
            else if (tenantIDList == null)
            {
                <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["tenantID"]" />
                <div class="form-group">
                    <h5>To</h5>
                    <label asp-for="Receiver" class="control-label">Manager</label>
                    <select class="form-select" asp-for="Receiver" class="form-control" asp-items="@managersList" id="optionSelect"></select>
                </div>
            }
            @* FROM MANAGER *@
            else
            {
                <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                <div class="form-group">
                    <h6>To</h6>
                    <label asp-for="Receiver" class="control-label">Tenant</label>
                    <select class="form-select" asp-for="Receiver" class="form-control" asp-items="@tenantIDList" id="optionSelect"></select>
                </div>
            }
            
            <h5>From</h5>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="txtName" class="form-control" value="@ViewData["txtName"]" disabled />
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Email</label>
                    <input id="txtEmail" class="form-control" value="@ViewData["txtEmail"]" disabled />
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">Phone</label>
                    <input id="txtPhone" class="form-control" value="@ViewData["txtPhone"]" disabled />
                </div>
            </div>
            

            <div class="form-group">
                <label class="control-label">Subject</label>
                @if (sender == "employeeReport")
                {
                    <input asp-for="Subject" class="form-control" placeholder="Property Incident Report" id="subject"/>

                }
                else if (tenantIDList == null && sender != "employee")
                {
                    <input asp-for="Subject" class="form-control" placeholder="Apartment Inquiry" id="subject" />
                }
                else
                {
                    <input asp-for="Subject" class="form-control" placeholder="New Listing!" id="subject"/>
                }
            </div>

            <div class="form-group">
                <label asp-for="Message1" class="control-label">Message</label>
                @if (sender == "employeeReport")
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I have a report"></textarea>
                }
                else if (tenantIDList == null && sender != "employeeReply")
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I am interested to see this place."></textarea>
                }
                else
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I have a new listing you could be interested in."></textarea>
                } 

                <span asp-validation-for="Message1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-lg btn-rentaspace-full" />

            </div>
        </form>
    </div>
</div>
