@model property_rental_management.Models.Msg

@{
    var sender = ViewData["sender"] as string;

    var tenantIDList = ViewBag.tenantIDList;
    var adminIDList = ViewBag.adminIDList;
    var managersList = ViewBag.managersList;

    var txtName = ViewData["txtName"] as string;
    var txtEmail = ViewData["txtEmail"] as string;
    var txtPhone = ViewData["txtPhone"] as string;

    var isViewDataEmpty = string.IsNullOrEmpty(txtName)
                            && string.IsNullOrEmpty(txtEmail)
                            && string.IsNullOrEmpty(txtPhone);

}



<h1>Send Message</h1>
<div class="row">
    <div class="col-md-5 rs-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* FILING A REPORT *@ 
            @if (tenantIDList == null && sender == "employeeReport")
            {
                <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                <div class="form-group">
                    <label class="control-label">To: </label>
                    <select class="form-select" asp-for="Receiver" class="form-control" asp-items="@adminIDList" id="optionSelect"></select>
                </div>

            }
            @* FROM TENANT *@
            else if (tenantIDList == null)
            {
                <h5>To</h5>
                <label asp-for="Receiver" class="control-label">Manager</label>
                if (sender == "reply")
                {
                    <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["tenantID"]" />
                    <input type="hidden" asp-for="Receiver" class="form-control" value="@ViewData["managerID"]" />

                    <div class="form-group">
                        <select class="form-select" class="form-control" asp-items="@managersList" id="optionSelect" disabled></select>
                    </div>

                } else
                {
                    <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["tenantID"]" />
                    <div class="form-group">
                        <select class="form-select" asp-for="Receiver" class="form-control" asp-items="@managersList" id="optionSelect"></select>
                    </div>
                }

            }
            @* FROM MANAGER *@
            else
            {

                <h5>To</h5>
                <label asp-for="Receiver" class="control-label">Tenant</label>
                if (sender == "reply")
                {
                    <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                    <input type="hidden" asp-for="Receiver" class="form-control" value="@ViewData["tenantID"]" />

                    <div class="form-group">
                        <select class="form-select" class="form-control" asp-items="@tenantIDList" id="optionSelect" disabled></select>
                    </div>

                }
                else if (sender == "employeeReport")
                {
                    <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                    <div class="form-group">
                        <select class="form-select" asp-for="Receiver" class="form-control" asp-items="@adminIDList" id="optionSelect"></select>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                    <div class="form-group">
                        <select class="form-select" asp-for="Receiver" class="form-control" asp-items="@tenantIDList" id="optionSelect"></select>
                    </div>
                }
            }
            
            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="txtName" class="form-control" value="@ViewData["txtName"]" disabled />
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Email</label>
                    <input id="txtEmail" class="form-control" value="@ViewData["txtEmail"]" disabled />
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">Phone</label>
                    <input id="txtPhone" class="form-control" value="@ViewData["txtPhone"]" disabled />
                </div>
            </div>
            

            <div class="form-group">
                <label class="control-label">Subject</label>
                @if (sender == "employeeReport")
                {
                    <input asp-for="Subject" class="form-control" placeholder="Property Incident Report" id="subject"/>

                }
                else if (tenantIDList == null && sender != "employee")
                {
                    <input asp-for="Subject" class="form-control" placeholder="Apartment Inquiry" id="subject" />
                }
                else
                {
                    <input asp-for="Subject" class="form-control" placeholder="New Listing!" id="subject"/>
                }
            </div>

            <div class="form-group">
                <label asp-for="Message1" class="control-label">Message</label>
                @if (sender == "employeeReport")
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I have a report"></textarea>
                }
                else if (tenantIDList == null && sender != "employeeReply")
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I am interested to see this place."></textarea>
                }
                else
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I have a new listing you could be interested in."></textarea>
                } 

                <span asp-validation-for="Message1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-lg btn-rentaspace-full" />
                <a id="backButton" class="btn btn-lg btn-rentaspace-outline">Cancel</a>
            </div>
        </form>
    </div>
</div>

@if (isViewDataEmpty)
{
    <script>

        var optionSelect = document.getElementById('optionSelect');
        var txtNameInput = document.getElementById('txtName');
        var txtEmailInput = document.getElementById('txtEmail');
        var txtPhoneInput = document.getElementById('txtPhone');

        console.log(txtNameInput);
        var selectedValue = optionSelect.value;
        var userID = selectedValue.split('|')[0];
        var txtName = selectedValue.split('|')[2];
        var txtEmail = selectedValue.split('|')[1];
        var txtPhone = selectedValue.split('|')[3];

        txtNameInput.value = txtName;
        txtEmailInput.value = txtEmail;
        txtPhoneInput.value = txtPhone;

        optionSelect.addEventListener('change', function () {
            selectedValue = optionSelect.value;
            userID = selectedValue.split('|')[0];
            txtName = selectedValue.split('|')[2];
            txtEmail = selectedValue.split('|')[1];
            txtPhone = selectedValue.split('|')[3];

            txtNameInput.value = txtName;
            txtEmailInput.value = txtEmail;
            txtPhoneInput.value = txtPhone;
        });



    </script>
} 
    <script>
        document.getElementById("backButton").addEventListener("click", function () {
            var returnUrl = "@TempData["returnUrl"]";
            if (returnUrl) {
                window.location.href = returnUrl;
            } else {
                window.history.back();
            }
        });
    </script>
