@model property_rental_management.Models.Msg

@{
    var sender = ViewData["sender"] as string;

    var tenantIDList = ViewBag.tenantIDList;
    var adminIDList = ViewBag.adminIDList;
    var managersList = ViewBag.managersList;

}

<h1>Create Message</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* FILING A REPORT *@ 
            @if (tenantIDList == null && sender == "employeeReport")
            {
                <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                <div class="form-group">
                    <label class="control-label">To: </label>
                    <select asp-com asp-for="Receiver" class="form-control" asp-items="@adminIDList" id="optionSelect"></select>
                </div>

            }
            @* FROM TENANT *@
            else if (tenantIDList == null)
            {
                <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["tenantID"]" />
                <h6>To</h6>
                <div class="form-group">
                    <select asp-com asp-for="Receiver" class="form-control" asp-items="@managersList" id="optionSelect"></select>
                </div>
            }
            @* FROM MANAGER *@
            else
            {
                <input type="hidden" asp-for="Sender" class="form-control" value="@ViewData["managerID"]" />
                <div class="form-group">
                    <label class="control-label">To: </label>
                    <select asp-com asp-for="Receiver" class="form-control" asp-items="@tenantIDList" id="optionSelect"></select>
                </div>
            }
            
            @if (tenantIDList == null)
            {
                <h6>From</h6>
            }
            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="txtName" class="form-control" value="@ViewData["txtName"]" disabled />
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <input id="txtEmail" class="form-control" value="@ViewData["txtEmail"]" disabled />
            </div>

            <div class="form-group">
                <label class="control-label">Phone</label>
                <input id="txtPhone" class="form-control" value="@ViewData["txtPhone"]" disabled />
            </div>

            <div class="form-group">
                <label class="control-label">Subject</label>
                @if (sender == "employeeReport")
                {
                    <input asp-for="Subject" class="form-control" placeholder="Property Incident Report" id="subject"/>

                }
                else if (tenantIDList == null && sender != "employee")
                {
                    <input asp-for="Subject" class="form-control" placeholder="Apartment Inquiry" id="subject" />
                }
                else
                {
                    <input asp-for="Subject" class="form-control" placeholder="New Listing!" id="subject"/>
                }
            </div>

            <div class="form-group">
                <label asp-for="Message1" class="control-label">Message</label>
                @if (sender == "employeeReport")
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I have a report"></textarea>
                }
                else if (tenantIDList == null && sender != "employeeReply")
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I am interested to see this place."></textarea>
                }
                else
                {
                    <textarea asp-for="Message1" id="message" class="form-control" rows="5" placeholder="Hi! I have a new listing you could be interested in."></textarea>
                } 

                <span asp-validation-for="Message1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
