@model property_rental_management.Models.Msg

@{
}

<h1>@Model.Subject</h1>
<div class="rs-form-container">
    <dl class="row">
        <dt class = "col-sm-2">
            From
        </dt>
        <dd class = "col-sm-10">
            @Model.Sender.Split('|')[1]
        </dd>
        <dt class = "col-sm-2">
            To
        </dt>
        <dd class = "col-sm-10">
            @Model.Receiver.Split('|')[1]
        </dd>
        <dt class = "col-sm-2">
            Message
        </dt>
        <dd class = "col-sm-10">
            @Model.Message1
        </dd>
    </dl>
</div>

<div>
    <div class="form-group">
        <a id="backButton" class="btn btn-lg btn-rentaspace-outline">Back</a>
    </div>
</div>


<script>
    document.getElementById("backButton").addEventListener("click", function () {
        var returnUrl = "@TempData["returnUrl"]";
        if (returnUrl) {
            window.location.href = returnUrl;
        } else {
            window.history.back();
        }
    });
</script>