@model property_rental_management.Models.Msg

@{
    TempData["returnUrl"] = (string)Context.Request.Path;
}

<h1>Details</h1>

<div>
    <h4>Msg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MessageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
