@model IEnumerable<property_rental_management.Models.Appointment>

@{
    var userEmail = Context.Session.GetString("userEmail");
    var tenantID = Context.Session.GetString("tenantID");
    var returnUrl = Context.Request.Path;
    TempData["returnUrl"] = (string)returnUrl;
}

<h1>My Appointments</h1>

<table class="table rs-table">
    <thead>
        <tr>
            <th>
                Manager
            </th>
            <th>
                Appointment Date
            </th>
            <th>
                Time
            </th>
            <th>
                Apartment
            </th>
            <th>
                Appointment Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Manager.ManagerNavigation.FirstName @item.Manager.ManagerNavigation.LastName
            </td>
            <td>
                @item.AppointmentDate
            </td>
            <td>
                @item.Schedule.StartTime - @item.Schedule.EndTime
            </td>
            <td>
                @item.Apartment.Properties.FirstOrDefault()?.Address
                <br />
                @item.Apartment.Bedrooms Beds - @item.Apartment.Bathrooms Beds - @item.Apartment.FloorArea sqm
            </td>
            <td>
                <div class="rs-status">
                    @item.Status.Description
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
