@model property_rental_management.Models.Tenant

@{
}

<h1>@Model.FirstName @Model.LastName</h1>
<h4>Tenant</h4>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Model.EmailNavigation.Email
        </dd>
        <dt class = "col-sm-2">
            Password
        </dt>
        <dd class = "col-sm-10">
            @Model.EmailNavigation.Password
        </dd>
        <dt class = "col-sm-2">
            Phone
        </dt>
        <dd class = "col-sm-10">
            @Model.Phone
        </dd>
    </dl>
</div>

<div>
    <div class="form-group rs-row">
        <a asp-action="Edit" asp-route-id="@Model?.TenantId" class="btn btn-lg btn-rentaspace-full">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model?.TenantId" class="btn btn-lg btn-rentaspace-outline">Delete</a>
    </div>
</div>
