@model IEnumerable<property_rental_management.Models.Tenant>

@{
    TempData["returnUrl"] = (string)Context.Request.Path;
}

<h1>Index</h1>

<form asp-controller="Tenants" asp-action="Index" method="get">
    <input type="text" name="searchString" placeholder="Search by name or email">
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.EmailNavigation.Email
            </td>
            <td>
                @item.FirstName @item.LastName
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TenantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TenantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TenantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 