@model IEnumerable<property_rental_management.Models.Tenant>

@{
    var userEmail = Context.Session.GetString("userEmail");
    var tenantID = Context.Session.GetString("tenantID");
    var employeeID = Context.Session.GetString("employeeID");
    TempData["returnUrl"] = (string)Context.Request.Path;
}

<h1 class="rs-admin-head">
    RentaSpace Tenants
</h1>
<form asp-controller="Tenants" asp-action="Index" method="get" class="rs-search-container">
    <input type="text" name="s" placeholder="Search by name or email" class="rs-search-box">
    <button type="submit" class="btn btn-lg btn-rentaspace-normal">Search</button>
</form>

<div class="rs-listings-header rs-admin-subhead">
    <h2>Tenants</h2>
</div>
<table class="table rs-table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.EmailNavigation.Email
            </td>
            <td>
                @item.FirstName @item.LastName
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TenantId" class="btn btn-lg btn-rentaspace-full">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
 