@model IEnumerable<property_rental_management.Models.Message>

@{
    var userEmail = Context.Session.GetString("userEmail");
    var tenantID = Context.Session.GetString("tenantID");
    var returnUrl = Context.Request.Path;
    TempData["returnUrl"] = (string)returnUrl;
}

<h1>All Messages</h1>

<table class="table rs-table">
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Subject
            </th>
            <th>
                Reply
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Sender.Split('|')[1]
            </td>
            <td>
                @item.Receiver.Split('|')[1]
            </td>
            <td>
                @item.Subject
            </td>
            <td>
                <form asp-controller="Msgs" asp-action="Create" method="get">
                    <input type="hidden" name="msgTo" value="@item.Sender.Split('|')[0]" />
                        <input type="hidden" name="msgFrom" value="@item.Receiver.Split('|')[0]" />
                    @if (item.Receiver.Split('|')[0] == tenantID)
                    {
                        <button type="submit" class="rs-card-link btn">
                            <img src="~/images/icon_reply.png" class="rs-iconmail" />
                        </button>
                    } else
                    {
                        <button type="submit" class="rs-card-link btn"disabled>
                            <img src="~/images/icon_reply_disabled.png"class="rs-icon-  mail" />
                        </button>
                    }
                </form>
                <form asp-controller="Msgs" asp-action="Details" method="get">
                    <input type="hidden" name="msgID" value="@item.MessageId" />
                    <button type="submit" class="rs-card-link btn">
                        <img src="~/images/icon_open_msg.png" class="rs-iconmail" />
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
