@model property_rental_management.Models.Apartment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Property Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.First().Address)
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.First().City.CityName)
        </dd>
        <dt class="col-sm-2">
            Year Established
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Properties.First().YearEstablished)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            $ @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
