@model property_rental_management.Models.Apartment

@{
    var employeeID = Context.Session.GetString("employeeID");

 }

<h1>Manage Apartment</h1>
<h4><img src="~/images/icon_location.png" class="rs-card-detail-icon" /> @Model.Properties.First().Address , @Model.Properties.First().City.CityName , QC</h4>

<div class="rs-form-edit">
    <dl class="row">
        <dt class = "col-sm-2">
            Bedrooms
        </dt>
        <dd class = "col-sm-10">
            @Model.Bedrooms
        </dd>
        <dt class = "col-sm-2">
            Bathrooms
        </dt>
        <dd class = "col-sm-10">
            @Model.Bathrooms
        </dd>
        <dt class = "col-sm-2">
            Floor Area
        </dt>
        <dd class = "col-sm-10">
            @Model.FloorArea sqm.
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            $ @Model.Price
        </dd>
        <dt class = "col-sm-2">
            Apartment Status
        </dt>
        <dd class = "col-sm-10">
            @Model.Status.Description
        </dd>
    </dl>
</div>

@if (employeeID != null)
{
    <div>
        <div class="form-group rs-row">
            <a asp-controller="Apartments" asp-action="Edit" asp-route-id="@Model?.ApartmentId" class="btn btn-lg btn-rentaspace-full">Edit</a>
            <a asp-controller="Apartments" asp-action="Delete" asp-route-id="@Model?.ApartmentId" class="btn btn-lg btn-rentaspace-outline">Delete</a>
        </div>
    </div>

}
