@model IEnumerable<property_rental_management.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<main class="rs-apartments-container">
    <div class="rs-map-container">
        <div class="rs-map-container" id="map"></div>
    </div>

    <div class="rs-cards-container">
        @foreach (var app in Model)
        {
            <div class="card rs-card">
                <img class="card-img rs-card-img" src="~/images/sample.jpg" />
                <div class="rs-card-right">
                    <div class="card-header">
                        @app.Properties.First().Address
                    </div>

                    <div class="card-text">
                        $ @app.Price
                        <br />
                        Year Established: @app.Properties.First().YearEstablished
                        <br />
                        Bedrooms: @app.Bedrooms
                        <br />
                        Bathrooms: @app.Bathrooms
                        <br />
                        @app.Properties.First().City.CityName QC
                        <br />
                        <a asp-action="Details" asp-route-id="@app.ApartmentId">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</main>
