@model IEnumerable<property_rental_management.Models.Appointment>

@{

    var jobID = Context.Session.GetString("jobID");
    var employeeID = Context.Session.GetString("employeeID");
    TempData["returnUrl"] = (string)Context.Request.Path;

}

<h1>All Appointments</h1>

<table class="table rs-table">
    <thead>
        <tr>
            <th>
                Tenant
            </th>
            <th>
                Appointment
            </th>
            <th>
                Apartment
            </th>
            <th>
                Appointment Status
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Tenant.FirstName @item.Tenant.LastName
                </td>
                <td>
                    @item.AppointmentDate
                    <br />
                    @item.Schedule.StartTime - @item.Schedule.EndTime
                </td>
                <td>
                    @item.Apartment.Properties.FirstOrDefault()?.Address
                    <br />
                    @item.Apartment.Bedrooms Beds - @item.Apartment.Bathrooms Beds - @item.Apartment.FloorArea sqm
                </td>
                <td>
                    <div class="rs-status rs-manager-appstatus">
                        @item.Status.Description
                    </div>
                </td>
                <td>
                    <form method="post" asp-controller="Appointments" asp-action="UpdateStatus" class="rs-app-action">
                        <input type="hidden" name="appointmentId" value="@item.AppointmentId" />
                        <select name="statusId" class="btn btn-sm btn-rentaspace-outline rs-app-dropdown">
                            <option value="S2">CONFIRM</option>
                            <option value="S3">CANCEL</option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-rentaspace-full">Update</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
