@model property_rental_management.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearEstablished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearEstablished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Description)
        </dd>
    </dl>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Bedrooms
                </th>
                <th>
                    Status
                </th>
                <th>
                    Price
                </th>
                <th>
                    Bathrooms
                </th>
                <th>
                    Floor Area
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Model.Apartments)
            {
                <tr>
                    <td>
                        @app.Bedrooms
                    </td>
                    <td>
                        @app.Status.Description
                    </td>
                    <td>
                        $ @app.Price
                    </td>
                    <td>
                        @app.Bathrooms
                    </td>
                    <td>
                        @app.FloorArea
                    </td>
                    <td>
                        <a asp-controller="Apartments" asp-action="Edit" asp-route-id="@app.ApartmentId">Edit</a> |
                        <a asp-controller="Apartments" asp-action="Details" asp-route-id="@app.ApartmentId">Details</a> |
                        <a asp-controller="Apartments" asp-action="Delete" asp-route-id="@app.ApartmentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
