@model property_rental_management.Models.Property

@{
    ViewData["Title"] = "Details";
    var tenantID = Context.Session.GetString("tenantID");
}

<div class="rs-properties-details-heading">
    <h1>@Model.Address</h1>
    <div>
        @if (tenantID != null)
        {
            <form asp-controller="Msg" asp-action="Create" method="get">
                <input type="hidden" name="managerId" value="@Model.Managers.First().ManagerId" />
                <input type="hidden" name="tenantID" value="@tenantID" />
                <button type="submit" class="rs-card-link btn">
                    <img src="~/images/icon_mail.png" class="rs-icon-mail" />
                </button>
            </form>

            <form asp-controller="BookAppointments" asp-action="Create" method="get">
                <input type="hidden" name="managerId" value="@Model.Managers.First().ManagerId" />
                <input type="hidden" name="tenantID" value="@tenantID" />
                <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">Book</button>
            </form>
        }
    </div>
</div>
<p>
    <img src="~/images/icon_location.png" class="rs-card-detail-icon" /> @Model.Address , @Model.City.CityName , QC  | 
    <img src="~/images/icon_calendar.png" class="rs-card-detail-icon" /> @Model.YearEstablished
</p>

<div>
    <table class="table rs-table">
        <thead>
            <tr>
                <th>
                    Bedrooms
                </th>
                <th>
                    Status
                </th>
                <th>
                    Price
                </th>
                <th>
                    Bathrooms
                </th>
                <th>
                    Floor Area
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Model.Apartments)
            {
                <tr>
                    <td>
                        @app.Bedrooms Beds
                    </td>
                    <td>
                        <div class="rs-status">@app.Status.Description</div>
                    </td>
                    <td>
                        $ @app.Price
                    </td>
                    <td>
                        @app.Bathrooms Baths
                    </td>
                    <td>
                        @app.FloorArea sqm
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>