@model property_rental_management.Models.Property

@{
    var userEmail = Context.Session.GetString("userEmail");
    var tenantID = Context.Session.GetString("tenantID");
    var employeeID = Context.Session.GetString("employeeID");
    TempData["returnUrl"] = (string)Context.Request.Path;
    
}

<div class="rs-properties-details-heading">

    <h1>@Model.Address</h1>

    <div>
        @if (tenantID != null)
        {
            <form asp-controller="Msgs" asp-action="Create" method="get">
                <input type="hidden" name="msgTo" value="@Model.Managers.First().ManagerId" />
                <input type="hidden" name="msgFrom" value="@tenantID" />

                <button type="submit" class="rs-card-link btn">
                    <img src="~/images/icon_mail.png" class="rs-icon-mail" />
                </button>
            </form>

            <form asp-controller="BookAppointments" asp-action="Create" method="get">
                <input type="hidden" name="managerId" value="@Model.Managers.First().ManagerId" />
                <input type="hidden" name="tenantID" value="@tenantID" />
                <input type="hidden" name="propertyID" value="@Model.PropertyId" />

                <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">Book</button>
            </form>
        }
        else if (employeeID != null)
        {
            // SENDER: Employee
            <form asp-controller="Msgs" asp-action="Create" method="get">
                <input type="hidden" name="msgFrom" value="@Model.Managers.First().ManagerId" />
                <input type="hidden" name="sender" value="employee" />

                <button type="submit" class="rs-card-link btn">
                    <img src="~/images/icon_mail.png" class="rs-icon-mail" />
                </button>
            </form>

            <form asp-controller="BookAppointments" asp-action="Create" method="get">
                <input type="hidden" name="managerId" value="@employeeID" />
                <input type="hidden" name="propertyID" value="@Model.PropertyId" />

                <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">Book</button>
            </form>
        }
        else
        {

            <form asp-controller="Login" asp-action="Index" method="get">
                <button type="submit" class="rs-card-link btn">
                    <img src="~/images/icon_mail.png" class="rs-icon-mail" />
                </button>
            </form>

            <form asp-controller="Login" asp-action="Index" method="get">
                <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">Book</button>
            </form>
        }
    </div>
</div>
<p>
    <img src="~/images/icon_location.png" class="rs-card-detail-icon" /> @Model.Address , @Model.City.CityName , QC  |
    <img src="~/images/icon_calendar.png" class="rs-card-detail-icon" /> @Model.YearEstablished |
    <img src="~/images/icon_apartment.png" class="rs-card-detail-icon" /> @Model.AvailableUnits / @Model.TotalUnits units available 

    @if (employeeID != null)
    {
        <form asp-controller="Properties" asp-action="Edit" method="get">
            <input type="hidden" name="id" value="@Model.PropertyId" />
            <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">Manage</button>
        </form>

        <form asp-controller="Apartments" asp-action="Create" method="get">
            <input type="hidden" name="id" value="@Model.PropertyId" />
            <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">Add Apartment</button>
        </form>

    }
</p>

<div>
    <table class="table rs-table">
        <thead>
            <tr>
                <th>
                    Bedrooms
                </th>
                <th>
                    Status
                </th>
                <th>
                    Price
                </th>
                <th>
                    Bathrooms
                </th>
                <th>
                    Floor Area
                </th>
                @if (employeeID != null || tenantID != null)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Model.Apartments)
            {
                <tr>
                    <td>
                        @app.Bedrooms Beds
                    </td>
                    <td>
                        <div class="rs-status">@app.Status.Description</div>
                    </td>
                    <td>
                        $ @app.Price
                    </td>
                    <td>
                        @app.Bathrooms Baths
                    </td>
                    <td>
                        @app.FloorArea sqm
                    </td>
                    @if (employeeID != null || tenantID != null)
                    {
                        <td>
                            <form asp-controller="Apartments" asp-action="Details" method="get">
                                <input type="hidden" name="id" value="@app.ApartmentId" />
                                <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">View Details</button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>