@model IEnumerable<property_rental_management.Models.Property>

@{
    ViewData["Title"] = "Index";
    var userEmail = Context.Session.GetString("userEmail");
    var tenantID = Context.Session.GetString("tenantID");
}


<main class="rs-properties-container">
    <div class="rs-map-container">
        <div class="rs-map-container" id="map"></div>
    </div>

    <div class="rs-cards-container">
        @foreach (var property in Model)
        {
            <a asp-action="Details" asp-route-id="@property.PropertyId" class="rs-card-link">
            <div class="card rs-card">

                <div class="card-header rs-card-header">
                    <div class="rs-card-header-left">
                        @property.Address
                    </div>

                    <div class="rs-card-header-right">
                        <form asp-controller="Msg" asp-action="Create" method="get">
                            <input type="hidden" name="managerId" value="@property.Managers.First().ManagerId" />
                            <input type="hidden" name="tenantID" value="@tenantID" />
                            <button type="submit" class="rs-card-link btn">
                                <img src="~/images/icon_mail.png" class="rs-icon-mail" />
                            </button>
                        </form>

                        <form asp-controller="BookAppointments" asp-action="Create" method="get">
                            <input type="hidden" name="managerId" value="@property.Managers.First().ManagerId" />
                            <input type="hidden" name="tenantID" value="@tenantID" />
                            <button type="submit" class="rs-card-link btn btn-lg btn-rentaspace-full">Book</button>
                        </form>
                    </div>
                </div>

                <div class="rs-card-body">
                    <div class="rs-card-left">
                        <img class="card-img rs-card-img" src="~/images/sample.jpg" />
                    </div>

                    <div class="rs-card-right">
                        <div class="card-text rs-card-price">
                            @{
                                decimal minPrice = property.Apartments.Min(p => p.Price);
                                decimal maxPrice = property.Apartments.Max(p => p.Price);
                                int minBed = property.Apartments.Min(p => p.Bedrooms);
                                int maxBed = property.Apartments.Max(p => p.Bedrooms);
                                int minBath = property.Apartments.Min(p => p.Bathrooms);
                                int maxBath = property.Apartments.Max(p => p.Bathrooms);
                            }

                            @if (minPrice == maxPrice)
                            {
                                <text>$ @minPrice</text>
                            }
                            else
                            {
                                <text>$ @minPrice - $ @maxPrice</text>
                            }
                        </div>

                        <div class="card-text rs-card-details">
                            <div>
                                <img src="~/images/icon_calendar.png" class="rs-card-detail-icon"/> @property.YearEstablished
                            </div>
                            <div>
                                    <img src="~/images/icon_bed.png" class="rs-card-detail-icon" />
                                @if (minBed == maxBed)
                                {
                                    <text> @minBed Bedrooms</text>
                                }
                                else
                                {
                                    <text> @minBed - @maxBed Bedrooms</text>
                                }
                            </div>
                            <div>
                                <img src="~/images/icon_bath.png" class="rs-card-detail-icon" />
                                @if (minBath == maxBath)
                                {
                                    <text> @minBath Bathrooms</text>
                                }
                                else
                                {
                                    <text> @minBath - @maxBath Bathrooms</text>
                                }
                            </div>
                            <div>
                                <img src="~/images/icon_location.png" class="rs-card-detail-icon" /> @property.Address, @property.City.CityName, QC
                            </div>
                            
                        </div>      
                    </div>
                </div>            
            </div>
            </a>
        }
    </div>
</main>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhYZ4ntcdv5Zlx9K1VmCD2j3epIUGMHvs&callback=initMap" defer></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });
    }
</script>
